<mat-toolbar>
    <mat-toolbar-row class="justify-conetnt-between school-header">
      <button mat-icon-button class="menu"><mat-icon>menu</mat-icon></button>
      <div class="mr-2 ml-auto header d-flex">
        <div class="col-3">
            <div class="student-name">
                <h2 class="m-0">Education Dashboard</h2>
                <p class="Nav-name">Welcome, Henna Baker's</p>
            </div>
        </div>
         <div class=" header-info col-9 d-flex">
            <div class="d-flex mt-2 ">
                <img src="../../assets/iceland.png" class="iceland-flag" alt="">
                <h1 class="language">English</h1>
                </div>

                <div class="d-flex">
                    <mat-icon>notifications_none</mat-icon>
                    <mat-icon> mail_outline</mat-icon>
                </div>
            </div>
        
      </div>
    </mat-toolbar-row>
</mat-toolbar>