<div class="school-courses">
    <div class="all-courses">
        <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="15px grid">
                <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="30%" fxFlex.sm="50%">
                        <mat-card class="example-card">
                            <div>
                                <img class="course-img" src="../../assets/php.png"    alt="">
                                <mat-card-content class="course-name">
                                    <p class="c-name">PHP Development Course</p>
                                    <mat-icon class="favorite">favorite_border</mat-icon>
                                    <p class="number">505</p>
                                </mat-card-content>
                                <p class="month">November 01</p>
                                <mat-card-content class="course-detail">
                                    <div>
                                        <mat-icon class="clock">access_time</mat-icon>
                                        <p>8 Month</p>
                                    </div>
                                    <div>
                                        <mat-icon class="cart">person_outline</mat-icon>
                                        <p>John Cart</p>
                                    </div>
                                    <div>
                                        <mat-icon class="student">perm_contact_calendar</mat-icon>
                                        <p >student 300+</p>
                                    </div>
                                </mat-card-content>
                                <button mat-raised-button>Read More</button>
                            

                            </div>
                        </mat-card>
                </div>
                <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="30%" fxFlex.sm="50%">
                    <mat-card class="example-card">
                        <div>
                            <img class="course-img" src="../../assets/asp.net.png"    alt="">
                            <mat-card-content class="course-name">
                                <p class="c-name">Asp.net Development Course</p>
                                <mat-icon  class="favorite">favorite_border</mat-icon>
                                <p class="number">505</p>
                            </mat-card-content>
                            <p  class="month">January 02</p>
                            <mat-card-content class="course-detail">
                                <div>
                                    <mat-icon class="clock">access_time</mat-icon>
                                    <p>8 Month</p>
                                </div>
                                <div>
                                    <mat-icon class="cart">person_outline</mat-icon>
                                    <p>John Cart</p>
                                </div>
                                <div>
                                    <mat-icon class="student">perm_contact_calendar</mat-icon>
                                    <p>student 300+</p>
                                </div>
                            </mat-card-content>
                            <button mat-raised-button>Read More</button>
                        

                        </div>
                    </mat-card>
                </div>
                    
                 <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="30%" fxFlex.sm="50%">
                <mat-card class="example-card">
                    <div>
                        <img class="course-img" src="../../assets/Ui-design.png"    alt="">
                        <mat-card-content class="course-name">
                            <p class="c-name">UI/UX Development Course</p>
                            <mat-icon  class="favorite">favorite_border</mat-icon>
                            <p class="number">505</p>
                        </mat-card-content>
                        <p  class="month">March 15</p>
                        <mat-card-content class="course-detail">
                            <div>
                                <mat-icon class="clock">access_time</mat-icon>
                                <p>8 Month</p>
                            </div>
                            <div>
                                <mat-icon class="cart">person_outline</mat-icon>
                                <p>John Cart</p>
                            </div>
                            <div>
                                <mat-icon class="student">perm_contact_calendar</mat-icon>
                                <p>student 300+</p>
                            </div>
                        </mat-card-content>
                        <button mat-raised-button>Read More</button>
                    

                    </div>
                </mat-card>
                </div>
                <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="30%" fxFlex.sm="50%">
            <mat-card class="example-card">
                <div>
                    <img class="course-img" src="../../assets/javascript.png"    alt="">
                    <mat-card-content class="course-name">
                        <p class="c-name">Javascript Development Course</p>
                        <mat-icon  class="favorite">favorite_border</mat-icon>
                        <p class="number">505</p>
                    </mat-card-content>
                    <p  class="month">September 12</p>
                    <mat-card-content class="course-detail">
                        <div>
                            <mat-icon class="clock">access_time</mat-icon>
                            <p>8 Month</p>
                        </div>
                        <div>
                            <mat-icon class="cart">person_outline</mat-icon>
                            <p>John Cart</p>
                        </div>
                        <div>
                            <mat-icon class="student">perm_contact_calendar</mat-icon>
                            <p>student 300+</p>
                        </div>
                    </mat-card-content>
                    <button mat-raised-button>Read More</button>
                

                </div>
            </mat-card>
                </div>
                <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="30%" fxFlex.sm="50%">
                    <mat-card class="example-card">
                        <div>
                            <img class="course-img" src="../../assets/android.png"    alt="">
                            <mat-card-content class="course-name">
                                <p class="c-name">Android Development Course</p>
                                <mat-icon  class="favorite">favorite_border</mat-icon>
                                <p class="number">505</p>
                            </mat-card-content>
                            <p  class="month">June 02</p>
                            <mat-card-content class="course-detail">
                                <div>
                                    <mat-icon class="clock">access_time</mat-icon>
                                    <p>8 Month</p>
                                </div>
                                <div>
                                    <mat-icon class="cart">person_outline</mat-icon>
                                    <p>John Cart</p>
                                </div>
                                <div>
                                    <mat-icon class="student">perm_contact_calendar</mat-icon>
                                    <p>student 300+</p>
                                </div>
                            </mat-card-content>
                            <button mat-raised-button>Read More</button>
                        

                        </div>
                    </mat-card>
                </div>
                <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="30%" fxFlex.sm="50%">
                    <mat-card class="example-card">
                        <div>
                            <img class="course-img" src="../../assets/flutter.png"    alt="">
                            <mat-card-content class="course-name">
                                <p class="c-name">Flutter Development Course</p>
                                <mat-icon  class="favorite">favorite_border</mat-icon>
                                <p class="number">505</p>
                            </mat-card-content>
                            <p  class="month">April 20</p>
                            <mat-card-content class="course-detail">
                                <div>
                                    <mat-icon class="clock">access_time</mat-icon>
                                    <p>8 Month</p>
                                </div>
                                <div>
                                    <mat-icon class="cart">person_outline</mat-icon>
                                    <p>John Cart</p>
                                </div>
                                <div>
                                    <mat-icon class="student">perm_contact_calendar</mat-icon>
                                    <p>student 300+</p>
                                </div>
                            </mat-card-content>
                            <button mat-raised-button>Read More</button>
                        

                        </div>
                    </mat-card>
                </div>
                    
                <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="30%" fxFlex.sm="50%">
                <mat-card class="example-card">
                    <div>
                        <img class="course-img" src="../../assets/php.png"    alt="">
                        <mat-card-content class="course-name">
                            <p class="c-name">PHP Development Course</p>
                            <mat-icon  class="favorite">favorite_border</mat-icon>
                            <p class="number">505</p>
                        </mat-card-content>
                        <p  class="month">November 01</p>
                        <mat-card-content class="course-detail">
                            <div>
                                <mat-icon class="clock">access_time</mat-icon>
                                <p>8 Month</p>
                            </div>
                            <div>
                                <mat-icon class="cart">person_outline</mat-icon>
                                <p>John Cart</p>
                            </div>
                            <div>
                                <mat-icon class="student">perm_contact_calendar</mat-icon>
                                <p>student 300+</p>
                            </div>
                        </mat-card-content>
                        <button mat-raised-button>Read More</button>
                    

                    </div>
                </mat-card>
                </div>
                <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="30%" fxFlex.sm="50%">
                    <mat-card class="example-card">
                        <div>
                            <img class="course-img" src="../../assets/php.png"    alt="">
                            <mat-card-content class="course-name">
                                <p class="c-name">PHP Development Course</p>
                                <mat-icon  class="favorite">favorite_border</mat-icon>
                                <p class="number">505</p>
                            </mat-card-content>
                            <p  class="month">November 01</p>
                            <mat-card-content class="course-detail">
                                <div>
                                    <mat-icon class="clock">access_time</mat-icon>
                                    <p>8 Month</p>
                                </div>
                                <div>
                                    <mat-icon class="cart">person_outline</mat-icon>
                                    <p>John Cart</p>
                                </div>
                                <div>
                                    <mat-icon class="student">perm_contact_calendar</mat-icon>
                                    <p>student 300+</p>
                                </div>
                            </mat-card-content>
                            <div >
                                <button mat-raised-button>Read More</button>

                            </div>
                        

                        </div>
                    </mat-card>
                </div>
            
     
                        
                        
                
            </div>
        </div>
      
        <!-- <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="15px grid">
              <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="33%" fxFlex.sm="50%">
                <mat-card class="mat-elevation-z4">
                  <mat-card-title-group>
                    <mat-card-title class="p-title">Total Students</mat-card-title>
  
                    <mat-card-subtitle class="new-student-counter"
                      >2000</mat-card-subtitle>
                    <mat-card-subtitle
                      style="margin: 0; margin-top: 2px; width: 140px; height: 1.5cm;"
                      ><mat-progress-bar
                        mode="determinate"
                        value="40"
                      ></mat-progress-bar
                    ></mat-card-subtitle>
                    <img
                src="../../assets/total-student.png"
                style="width: 74px; height: 74px"
                alt=""
              />
                  </mat-card-title-group>
                </mat-card>
              </div>
              <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="33%" fxFlex.sm="50%">
                <mat-card class="mat-elevation-z4">
                  <mat-card-title-group>
                    <mat-card-title class="p-title">New Students</mat-card-title>
                    <mat-card-subtitle class="new-student-counter"
                      >500</mat-card-subtitle
                    >
                    <mat-card-subtitle
                      style="margin: 0; margin-top: 2px; width: 140px; height: 1.5cm;"
                      ><mat-progress-bar
                        mode="determinate"
                        value="40"
                      ></mat-progress-bar
                    ></mat-card-subtitle>
                    <img
                      src="../../assets/new-student.png"
                      style="width: 74px; height: 74px"
                      alt=""
                    />
                  </mat-card-title-group>
                </mat-card>
              </div>
              <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="33%" fxFlex.sm="50%">
                <mat-card class="mat-elevation-z4">
                  <mat-card-title-group>
                    <mat-card-title class="p-title">Total course</mat-card-title>
                    <mat-card-subtitle class="new-student-counter"
                      >40</mat-card-subtitle
                    >
                    <mat-card-subtitle
                      style="margin: 0; margin-top: 2px; width: 140px; height: 1.5cm;"
                      ><mat-progress-bar
                        mode="determinate"
                        value="40"
                      ></mat-progress-bar
                    ></mat-card-subtitle>
                    <img
                    src="../../assets/total-courses.png"
                    style="width: 74px; height: 74px"
                    alt=""
                  />
                  </mat-card-title-group>
                </mat-card>
              </div>
              <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.md="33%" fxFlex.sm="50%">
                <mat-card class="mat-elevation-z4">
                  <mat-card-title-group>
                    <mat-card-title class="p-title">Visitors</mat-card-title>
  
                    <mat-card-subtitle class="new-student-counter"
                      >2000</mat-card-subtitle
                    >
                    <mat-card-subtitle
                      style="margin: 0; margin-top: 2px; width: 140px; height: 1.5cm;"
                      ><mat-progress-bar
                        mode="determinate"
                        value="40"
                      ></mat-progress-bar
                    ></mat-card-subtitle>
                    <img
                    src="../../assets/visitors.png"
                    style="width: 74px; height: 74px"
                    alt=""
                  />
                  </mat-card-title-group>
                </mat-card>
              </div>
            </div>
          </div>
   -->
    </div>
</div>