.school-courses{
    background-color: #f5f5f9;
    border-radius: 40px 0px 0px 0px;
    width: 100%;
    height: 100vh; 
}
.all-courses{
  padding: 24px;

}
mat-toolbar {
    justify-content: space-between;
  }
  
  .content {
    padding: 16px;
  }
  
  .content > mat-card {
    margin-bottom: 16px;
  }
.example-card {
    max-width: 280px;
    border-radius: 20px;
  }
  .course-name{
      display: flex;
      margin: 0;
  }
  .course-detail{
      display:flex ;
      justify-content: space-between;
      text-align: center;
  }
  .mat-raised-button{
      width: 100%;
    // padding: 1px 103px;
    background-color: black;
    color: white;
    border-radius: 14px;
}
  
  .c-name{
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    }
    .favorite{
        color: #3F8DFD;
    }
    .number{
        color: #3F8DFD;
        margin-left: 8px;
        margin-top: 4px;
    }
    .month{
        font-weight: 400;
        font-size: 16px;
    }
    .clock{
        color: #2351DE;
    }
    .cart{
      color:#BB4ECB ;        
    }
    .student{
        color: 
        #E252BE;
    }
    .course-detail p{
        color:  rgba(0, 0, 0, 0.5);
        font-weight: 400;
        font-size: 16px;
    }
    .course-img{
        width: -webkit-fill-available;
    }